{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Rec²cife{% endblock %}

{% block head %}
    <script src="http://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_SECRET_KEY }}&sensor=true"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
    <script src="{% static 'recrecife/js/recrecife.js' %}"></script>

    <script type="text/javascript">
        var markers_list = loadMarkers({{ markers|safe }}, '{% static 'recrecife/images/recycle_marker.png' %}');

        $(document).ready(function () {
            var search_bar = $('#searchBar');

            search_bar.on('keydown', function (e) {
                if (e.which == 13) {
                    mapSearchByName($('#searchBar').val(), '{% static 'recrecife/images/you_are_here.png' %}');
                } else if (e.which == 40) {
                    return false;
                } else if (e.which == 38) {
                    return false;
                }
            });
        });
    </script>

{% endblock %}

{% block body-args %}
    onload='initializeGMAP("{% static 'marker-clusterer/src/markerclusterer_compiled.js' %}");'
{% endblock %}

{% block body %}
    <div id="map_canvas"></div>
    <div class="rec-opaque" id="map_overlay"></div>
    <div class="rec-content text-center" id="map_overlay_content">
        <div class="col-xs-12 col-sm-7 col-sm-offset-1 col-md-7 col-md-offset-1 col-lg-4 col-lg-offset-3"
             style="margin-bottom: 5px;">
            <div class="div-shadow">
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <input type="text" placeholder="Pesquisar rua, avenida, praça, estrada, travessa..."
                           autocomplete="off" class="form-control form-rec" id="searchBar" maxlength="200"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" id="searchBtn">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                    </span>

                    <div class="panel panel-default panel-dropdown" id="dropdown_choices">
                        <ul class="panel-list truncate" id="endList">
                            {% if enderecos and enderecos|length > 0 %}
                                {% for endereco in enderecos %}
                                    {% if endereco.nome == endereco.nome_bruto %}
                                        <li class="bad-location"><a href="javascript:void(0);"
                                                                    onclick="mapSearch({{ endereco.latitude|safe }}, {{ endereco.longitude|safe }}, '{{ endereco.nome|safe }}')">
                                            <span class="glyphicon glyphicon-question-sign"></span>
                                            &nbsp;{{ endereco.nome }}
                                        </a></li>
                                    {% else %}
                                        <li><a href="javascript:void(0);"
                                               onclick="mapSearch({{ endereco.latitude|safe }}, {{ endereco.longitude|safe }}, '{{ endereco.nome|safe }}')">
                                            <span class="glyphicon glyphicon-road"></span> &nbsp;{{ endereco.nome }}
                                        </a></li>
                                    {% endif %}
                                {% endfor %}
                            {% elif query_data %}
                                <li class="bad-location"><a href="javascript:void(0);"
                                                            onclick="mapSearchByName('{{ query_data|safe }}', '{% static 'recrecife/images/no_recycle_marker.png' %}')">
                                    <span class="glyphicon glyphicon-new-window"></span> &nbsp;{{ query_data }}
                                </a></li>
                            {% else %}
                                <li class="bad-location"><a href="javascript:void(0);">
                                    <span class="glyphicon glyphicon-search"></span> &nbsp;O campo de pesquisa está vazio!
                                </a></li>
                            {% endif %}
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
            <button class="btn btn-primary" type="button" onclick="gotoGMaps();" id="mapBtn">PESQUISAR NO MAPA</button>
        </div>
        <div id="infoPanel" style="display: none;">
            <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1 col-lg-3 col-lg-offset-3 text-left">
                <div class="panel panel-default panel-rec{% if local.warning %}-warn{% endif %}">
                    <div class="panel-heading">
                        <div class="row text-left">
                            <span class="col-xs-10 col-sm-11 col-md-10 col-lg-10 rec-shadow">
                                <span class="glyphicon glyphicon-road"></span> &nbsp;{{ local.nome }}
                            </span>
                            <span class="col-xs-2 col-sm-1 col-md-2 col-lg-2">
                                <button type="button" class="close" onclick="hideInfoPanel()">×</button>
                            </span>
                        </div>
                    </div>
                    <ul class="panel-body-list">
                        <li class="li-title truncate">
                            <b><span class="glyphicon glyphicon-map-marker"></span> &nbsp;Nome: </b>
                            {{ local.nome_min }}
                        </li>
                        <li class="truncate">
                            <b><span class="glyphicon glyphicon-home"></span> &nbsp;Bairro: </b>
                            {{ local.bairro }}
                        </li>
                        <li class="li-title truncate">
                            <b><span class="glyphicon glyphicon-th-list"></span> &nbsp;Dado Bruto (Nome): </b>
                            {{ local.nome_bruto }}
                        </li>
                        <li class="text-center truncate">
                            <b><span class="fa fa-recycle"></span> &nbsp;Informações da Coleta </b>
                        </li>
                        <li class="li-title truncate">
                            <b><span class="glyphicon glyphicon-home"></span> &nbsp;Setor: </b>
                            {{ local.nome_setor }}
                        </li>
                        <li class="truncate">
                            <b><span class="glyphicon glyphicon-road"></span> &nbsp;Rota: </b>
                            {{ local.rota }}
                        </li>
                        <li class="li-title truncate">
                            <b><span class="fa fa-clock-o"></span> &nbsp;Intervalo: </b>
                            {{ local.intervalo }} ({{ local.turno }})
                        </li>
                        <li class="truncate">
                            <b><span class="fa fa-truck"></span> &nbsp;Frequência: </b>
                            {{ local.frequencia }}
                        </li>
                    </ul>
                    {% if local.warning %}
                        <div class="panel-footer">
                            CONHECE ESSE LUGAR? >>
                        </div>
                    {% else %}
                        <button class="panel-footer panel-footer-btn" onclick="switchToMap({{ local.latitude|safe }}, {{ local.longitude|safe }}, '{{ local.nome|safe }}')">
                            VER NO MAPA
                        </button>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-3 text-left">
                <div class="panel panel-default panel-rec{% if local.warning %}-warn{% endif %}">
                    <div class="panel-heading">
                        <div class="row text-left">
                            <span class="col-xs-10 col-sm-11 col-md-10 col-lg-10 rec-shadow">
                                <span class="glyphicon glyphicon-envelope"></span> &nbsp;Ajude-nos!
                            </span>
                            <span class="col-xs-2 col-sm-1 col-md-2 col-lg-2">
                                <button type="button" class="close" onclick="hideInfoPanel()">×</button>
                            </span>
                        </div>
                    </div>
                    <form class="form-horizontal" method="POST">
                        <div class="panel-body">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ feedback_form.nome }}
                                    {% if feedback_form.nome.errors %}
                                        {% for error in feedback_form.nome.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ feedback_form.email }}
                                </div>
                                <div class="form-group">
                                    {{ feedback_form.erros }}
                                </div>
                                <div class="form-group">
                                    {{ feedback_form.descricao }}
                                </div>
                        </div>
                        <button class="panel-footer panel-footer-btn">
                            ENVIAR
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">

    </div>
{% endblock %}