@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic,900,500italic|Maven+Pro:400,500,700,900);

body, html {
    font-family: Roboto, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    background: #fafafa;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

textarea {
   resize: none;
}

a, a:visited {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

.navbar-recrecife {
    height: 70px;
    background: #fff;
    border-bottom: 1px solid #eaeaea;

}

.navbar-center-brand {
    font-family: Roboto, sans serif;
    font-weight: 900;
}

.navbar-center-brand .navbar-brand-icon {
    line-height: 130%;
    font-size: 42pt;
    color: #eaeaea;
    opacity: 0.9;
    text-shadow: -3px 3px #f7f7f7;
}

.navbar-center-brand .navbar-brand-font {
    line-height: 150%;
    font-size: 22pt;
    margin-top: -60px;
    position: relative;
    text-align: center;
    color: #666;
    text-shadow: 3px 2px #ddd;
}

.navbar-center-brand .navbar-brand-font > b {
    color: #289e65;
    text-shadow: 3px 2px #dedede;
}

.navbar-center-brand .navbar-brand-font > b.green {
    color: #289e65;
}

.navbar-center-brand .navbar-brand-font > b.blue {
    color: #4485f5;
}

.navbar-center-brand .navbar-brand-font > b.yellow {
    color: #fabe28;
}

.navbar-center-brand .navbar-brand-font > b.red {
    color: #d33d33;
}

.navbar-nav {
}

.rec-opaque {
    background: #eee;
    opacity: 0.7;
}

.rec-content {
    margin-top: 50px;
}

.rec-center {
    color: #289e65;
    font-size: 300pt;
}

.div-shadow {
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 4px 4px rgba(170, 170, 170, 0.5);
    box-shadow: 4px 4px rgba(170, 170, 170, 0.5);
}

.panel-dropdown .panel-list {
    border-radius: 0;
    margin-bottom: 0;
    margin-top: -1px;
    background: #fff;
    text-align: left;
    padding: 0;
    -webkit-box-shadow: 4px 4px rgba(170, 170, 170, 0.1);
    box-shadow: 4px 4px rgba(170, 170, 170, 0.1);
}

.panel-dropdown .panel-list > li {
    list-style-type: none;
}

.panel-dropdown .panel-list > li > a {
    border-left: 10px solid #289e65;
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding-left: 15px;
    color: #289e65;
    font-weight: 700;
    display: block;
}

.panel-dropdown .panel-list > li > a:hover {
    border-left: 10px solid #4585f5;
    color: #4585f5;
    background: #f7f7f7;
}

.non-link-list {
    border-left: 10px solid #d33d33;
    padding: 10px;
    font-weight: 700;
    text-align: center;
    color: #d33d33;
}

.panel-dropdown .panel-list > li.bad-location > a {
    display: block;
    width: 100%;
    font-weight: 700;
    height: 38px;
    line-height: 38px;
    padding-left: 15px;
    border-left: 10px solid #d33d33;
    color: #d33d33;
}

.panel-dropdown .panel-list > li.bad-location > a:hover {
    border-left: 10px solid #fabe28;
    color: #fabe28;
    background: #f7f7f7;
}

.panel-dropdown {
    position: absolute;
    right: 0;
    width: 96.1%;
    z-index: 1;
    display: none;
}

.panel-rec, .panel-rec-warn {
    margin-top: 90px;
    border: 0;
    -webkit-box-shadow: 4px 4px rgba(170, 170, 170, 0.5);
    box-shadow: 4px 4px rgba(170, 170, 170, 0.5);
}

.panel-rec .panel-heading {
    background: #289e65;
    border-radius: 0;
    border: 0;
    border-bottom: 3px solid #2a8f53;
    color: #fff;
}
.panel-rec-warn > ul.panel-body-list,
.panel-rec > ul.panel-body-list {
    padding: 0;
    overflow: auto;
}

.panel-rec .panel-body-list > li {
    font-family: Maven Pro, Roboto, sans serif;
    list-style-type: none;
    width: 100%;
        height: 36px;
    border-left: 10px solid #289e65;
    padding: 7px 0 0 10px;
    color: #555;
    font-weight: 700;
}

.panel-rec .panel-body-list > li > b {
    color: #289e65;
    font-weight: 900;
}

.panel-rec .panel-body-list > li.li-title > b {
    color: #289e65;
    font-weight: 900;
}

.panel-rec-warn .panel-body-list > li.li-title,
.panel-rec .panel-body-list > li.li-title {
    font-weight: 700;
    background: #f7f7f7;
    border-left: 10px solid #cecece;
    color: #555;
}

.panel-rec-warn .panel-footer {
    width: 100%;
    margin-top: -10px;
    border: 0;
    border-bottom: 3px solid #c03d32;
    background: #d33d33;
    text-align: center;
    color: #fff;
    font-weight: 900;
    border-radius: 0;
}

.panel-rec .panel-footer-btn {
    width: 100%;
    margin-top: -10px;
    border: 0;
    border-bottom: 3px solid #2a8f53;
    background: #289e65;
    color: #fff;
    font-weight: 900;
    border-radius: 0;
}

.panel-rec .panel-footer-btn:hover {
    border-bottom: 3px solid #c03d32;
    background: #d33d33;
}

.panel-rec .panel-footer-btn:focus {
    border-bottom: 3px solid #e1a528;
    background: #fabe28;
}

.panel-rec-warn .panel-body-list > li {
    font-family: Maven Pro, Roboto, sans serif;
    list-style-type: none;
    width: 100%;
    height: 36px;
    border-left: 10px solid #d33d33;
    padding: 7px 0 0 10px;
    color: #555;
    font-weight: 700;
    margin: 0;
}

.panel-rec-warn .panel-body-list > li > b {
    color: #d33d33;
    font-weight: 900;
}

.panel-rec-warn .panel-body-list > li.li-title > b {
    color: #d33d33;
    font-weight: 900;
}

.panel-rec-warn .panel-footer-btn {
    width: 100%;
    margin-top: -10px;
    border: 0;
    border-bottom: 3px solid #c03d32;
    background: #d33d33;
    color: #fff;
    font-weight: 900;
    border-radius: 0;
}

.panel-rec-warn .panel-footer-btn:hover {
    border-bottom: 3px solid #289e65;
    background: #2a8f53;
}

.panel-rec-warn .panel-footer-btn:focus {
    border-bottom: 3px solid #e1a528;
    background: #fabe28;
}

.rec-shadow {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
}

.panel-rec-warn .panel-heading {
    background: #d33d33;
    border-radius: 0;
    border: 0;
    border-bottom: 3px solid #c03d32;
    color: #fff;
}

.panel-rec, .panel-rec-warn, .panel-dropdown {
    border-radius: 0;
}

.panel-rec-warn .panel-body,
.panel-rec .panel-body {
    padding: 20px 40px 20px 40px;
}

.form-control {
    border-radius: 0;
    -webkit-box-shadow: 4px 4px rgba(170, 170, 170, 0.1);
    box-shadow: 4px 4px rgba(170, 170, 170, 0.1);
}

.form-control:focus {
    -webkit-box-shadow: 4px 4px rgba(40, 158, 101, 0.15);
    box-shadow: 4px 4px rgba(40, 158, 101, 0.15);
    border-color: rgba(40, 158, 101, 0.5);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-rec {
    font-size: 12pt;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border-color: #ddd;
    border-right: 0;
    border-left: 0;
    color: #999;
    height: 40px;
}

.form-rec:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #ddd;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-group .input-group-addon {
    border-radius: 0;
    background: #289e65;
    border: 0;
}

.input-group-btn .btn-default {
    border-radius: 0;
    color: #289e65;
    background: #fff;
    border: 1px solid #ddd;
    border-left: 0;
    font-size: 16pt;
    height: 40px;
}

.input-group-btn .btn-default:hover {
    color: #d33d33;
}

.input-group-btn .btn-default:focus {
    color: #fabe28;
}

.btn-primary {
    background: #289e65;
    border: 0;
    border-bottom: 3px solid #2a8f53;
    border-radius: 0;
    height: 40px;
    width: 100%;
    font-weight: 700;
    -webkit-box-shadow: 4px 4px rgba(170, 170, 170, 0.5);
    box-shadow: 4px 4px rgba(170, 170, 170, 0.5);
}

.btn-primary:hover {
    background: #d33d33;
    border: 0;
    border-bottom: 3px solid #c03d32;
}

.btn-primary:focus {
    background: #fabe28;
    border: 0;
    border-bottom: 3px solid #e1a528;
}

.footer {
    border-top: 2px solid #dedede;
    background: #fff;
    height: 10%;
    width: 100%;
}

.truncate {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.truncate-line {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
}

#map_overlay, #map_overlay_content {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 0;
}

#map_canvas {
    margin-top: -20px;
}