<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% include 'includes/head.html' %}
    {% block head %}{% endblock %}
</head>
<body {% block body-args %}{% endblock %}>
    <nav class="navbar navbar-default navbar-static-top navbar-recrecife">
        <div class="container text-center">
                <a href="" class="navbar-center-brand">
                    <span class="navbar-brand-icon">
                        <span class="fa fa-recycle"></span>
                    </span>
                    <div class="navbar-brand-font">
                        <b class="green">R</b><b class="blue">E</b><b class="yellow">C</b><b class="red">²</b>CIFE
                    </div>
                </a>
        </div>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>